/* Header */
.header {
    background: #202020;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 999;
}

.header .inner-logo a {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
}

/* End Header */

/* Body */
.body .sider {
    width: 150px;
    background: #323232;
    color: #fff;
    height: calc(100vh - 56px);
    position: fixed;
    top: 56px;
    left: 0;
}

.body .main {
    margin: 15px;
    position: relative;
    left: 150px;
    width: calc(100% - 180px);
}

/* End Body */

/* Sider */
.sider .inner-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sider .inner-menu ul li a {
    color: #fff;
    display: block;
    padding: 6px 10px;
    border-bottom: 1px solid #515151;
}

/* End Sider */

/* Show Alert */
[show-alert] {
    position: fixed;
    top: 70px;
    right: 15px;
    z-index: 9999;
}

[show-alert].alert-hidden {
    animation-name: alert-hidden;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

@keyframes alert-hidden {
    from {
        right: 15px;
    }

    to {
        right: -100%;
        display: none;
    }
}

[show-alert] [close-alert] {
    background: #ffffffc4;
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    font-weight: 600;
    border-radius: 50%;
    cursor: pointer;
}

/* End Show Alert */

/* Preview Image */
.container-preview {
    position: relative;
    width: 150px;
    height: auto;
    margin-top: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    position: relative;
    display: none;
}

.image-preview {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 3/4;
}

.visible-preview {
    display: block;
}

.close-preview {
    position: absolute;
    text-align: center;
    line-height: 20px;
    display: inline-block;
    box-sizing: border-box;
    color: #fff;
    border-radius: 50%;
    background-color: red;
    border: 1px solid #ddd;
    width: 20px;
    right: -10px;
    top: -10px;
    cursor: pointer;
}

/* End Preview Image */